body {
    background-color: #26525e;
    margin: 0 auto;
  }

  h1{
    padding: 20px;
    color: rgb(95, 91, 112);
    font-size: 28px;
    text-align: center;
    font-family: Arial;
    text-transform: uppercase;
    letter-spacing: 0.3em;
      }

  p{
    padding: 40px;
    color: rgb(219, 161, 226);
    font-size: 28px;
    text-align: center;
    font-family: Arial;
    text-transform: uppercase;
    letter-spacing: 0.3em;
      }